.card-container{
    display: flex;
    flex-direction: row;
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
.figure-container {
    width: 30%;
    margin: 0;
    margin-right: 20px;
    text-align: center;
}
.figure-container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.card-content {
    flex: 1;
}

@media (max-width: 800px) {
    .card-container {
        flex-direction: column;
    }
    .figure-container {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .figure-container img {
        width: 200px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}